* {
	border-radius: 4px;
	font-family: Calibri, sans-serif;
	text-decoration-color: #666666;

	
}
hr{
	opacity: 0.3;
	width: 95%;
}


/* MENU INICIO */
.menu{
	width: 100%;
	height: 500px;
	background-image:  url('./imagens/piano2.jpg') ;
	background-size: cover;

}
.menu2 {
	color: #ffffff;
	padding: 3px;
	margin: 10% 10% 10% 10%;
	text-align: center;
	border-style: dotted ;
	border-color: #ffffff;
	font-size: 150%;
	background-color: rgba(255,255,255, 0.1);

}
.menu ul{
	padding: 20px;
	margin-top: 0;
	text-align: right;
	

}
.menu ul li{
	list-style: none;
	display: inline;

}
.menu ul li a{
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px;
	color: #000000;
	background-color: rgba(255,255,255, 0.4);
	

}
/* MENU FIM */


/* CURSOS INICIO */
.cursos{
	
	width: 960px;
	margin: auto;
	box-shadow: 1px 1px 6px  #ccc;

}

.cursos h1, .cursos h3{
	text-align: center;
	
}
.curso{
	
	float: left;
	text-align: justify;
	max-width: 100%;
	padding: 15px;

}

.curso p, .curso img{
	margin: 5px;
	max-width: 90%;

}


.curso img{
	width: 30%;
	height: 150px;
	box-shadow: 2px 2px 6px  #666666;
}
.violino img{
	width: 15%;
	height: auto;
	box-shadow: none;
}


/* CURSOS FIM */

/* PROFESSORES INICIO */
.profs{	
	width: 70%;
	margin: auto;	

}

.profs h1, .profs h3, .profs p{
	text-align: center;
	background-color: rgba(91,91,91, 0.1);
}
.prof{
	
	float: left;
	text-align: justify;
	width: 30%;
	padding: 15px;

}

.prof p{
	width: auto;		
}

.prof img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	float: center;	

}
#centro img{
	float: center;
}


/* PROFESSORES FIM */


